extends layout

block content
  .backgroundstars
    .container.pt-5
      .row.justify-content-md-center
        .col-md-4.col-8.p-5.notsoclear-background
          if user.membership === true
            h2.text-center= `You, ${user.username}, are part of the club ! What do you want to do ?` 
            .text-center.mt-4
              a.link(href='/') You want to become an admin ?
          else
            h1.text-center Join the club
            p.text-center.text-secondary.font-italic Answer correctly and you will be member of the club. You will be able to see who wrotes the posts.
            form(method='POST', action='')
              .form-group
                label(for='answer') Who beats Michael’s pushup challenge by doing 26 pushups at the office?
                input.form-control(type='text', name='answer')
              .text-center
                button.btn.red-button.text-center(type='submit') Submit
            .text-center.mt-4
              a.link(href='/') Too hard ? Too bad, go home.
            .text-center.mt-4
              if error
                p.badge.badge-danger= error